body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    font-size: 12px;
    position: relative;

}

nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-right: 2rem;
}

hr{
width: 1082px;
height: 0px;
left: 168px;
border: 1px solid rgba(0, 0, 0, 0.25);
margin: 10px 10px 10px 161px;


}

/*fondo del navbar*/
.navbar-expand-lg {
  background-color:#fff;
  box-shadow: 0 10px 14px -7px #5b5b5f;
  height: 57px;
}

.navbar-light .navbar-nav .nav-link {
    color:#9C1B7E ;
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
    margin: 1.5rem;
}

nav li>a {
    position: relative;
    color:#9C1B7E;
    text-decoration: none;
}

nav li>a:hover {
    color:#9C1B7E;
}

nav li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:rgba(33, 205, 180, 0.98);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav li>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

nav i {
    color:#9C1B7E;
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
}


.miLogo{
    width: 400vh;
    height: 400vh;
}

.conoceme{
    position: absolute;
    width: 246px;
    height: 56px;
    left: 780px;
    top: 511px;
    margin: 182px 259px;
    background: rgba(33, 205, 180, 0.98);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    text-shadow: 0 1px rgba(33, 205, 180, 0.98);
    border-radius: 49px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #FFFFFF;
    border-style: unset;
    cursor: pointer;
}

.h5conoceme{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #FFFFFF;
    margin: 2px;
}

#containerHome{
    width: 200vh;
    height: 99vh;
    display: flex;
}

#logo{
  margin: 173px 254px;
  width: 57vw;
  }

  .projectTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    margin: -8px 0px 24px;
  }

  .projectText{
    font-family: Poppins;
    font-size: 20px;
    width: 1000px;
  }

  

  #imgBurger{
    width: 200px;
    height: 200px;
    margin: 164px 123px 96px 267px;
  }

  #imgONU{
    width: 200px;
    height: 200px;
    margin: 0px 1001px;
  }

  #imgSocialVeg{
    width: 200px;
    height: 200px;
    margin: 14px 123px 96px 267px;
  }
  
  #imgPokedatos{
    width: 200px;
    height: 200px;
    margin: 33px 1001px;
  }

  #imgCipher{
    width: 200px;
    height: 200px;
    margin: 16px 123px 96px 267px;
  }

  #imgTrivia{
    width: 200px;
    height: 200px;
    margin: 33px 1001px;
  }

  #textP1{
    margin: -287px 339px 10px 609px;
  }

  #textP3{
    margin: -283px 339px 10px 609px;
  }

  #textP5{
    margin: -274px 339px 10px 609px;
  }

  #textP2{
    margin: -174px 26px 70px 305px;

  }

  #textP4{
    margin: -236px 23px 71px 305px;
  }

  #textP6{
    margin: -225px 22px 70px 305px;
  }
    

  .Projects{
    height: 230px;
  }

  .Project1{
    height: 359px;
  }
    

  /*botones code y demo*/

  #btnP1Demo{
    color:black;
    background: rgba(250, 221, 52, 0.69);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 7vw;
    height: 4vh;
  }

  #btnP1Code{
    color:black;
    background: rgba(250, 221, 52, 0.69);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 7vw;
    height: 4vh;
  }

  #btnP2Demo{
    color:black;
    background:rgba(33, 205, 180, 0.98);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 31px 8px 213px;
    width: 7vw;
    height: 4vh;
  }

  #btnP2Code{
    color:black;
    background: rgba(33, 205, 180, 0.98);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 7vw;
    height: 4vh;
  }

  #btnP3Demo{
    color:black;
    background: #EF186E;
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 7vw;
    height: 4vh;
  }

  #btnP3Code{
    color:black;
    background: #EF186E;
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 7vw;
    height: 4vh;
  }

  #btnP4Demo{
    color:black;
    background: #9C1B7E;
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 7vw;
    height: 4vh;
  }

  #btnP4Code{
    color:black;
    background: #9C1B7E;
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 7vw;
    height: 4vh;
  }

  #btnP5Demo{
    color:black;
    background: rgba(250, 221, 52, 0.69);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 7vw;
    height: 4vh;
  }

  #btnP5Code{
    color:black;
    background: rgba(250, 221, 52, 0.69);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 7vw;
    height: 4vh;
  }


  #btnP6Demo{
    color:black;
    background: rgba(33, 205, 180, 0.98);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 7vw;
    height: 4vh;
  }

  #btnP6Code{
    color:black;
    background: rgba(33, 205, 180, 0.98);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 7vw;
    height: 4vh;s
  }

  .buttonFont{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 27px;
    color:black;
  }

  #cv{
    width: 281px;
    height: 59px;
    margin: 20px 25px 114px 767px;
    background: rgba(33, 205, 180, 0.98);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 49px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    border-style: unset;
  }

  .h6Cv{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    margin: 2px;

  }
 
  /*About me*/

  #imgAbout{
    margin: 261px 14px 13px 75px;
  }

  .textAbout{
    margin: 207px 24px 20px 157px;
    font-family: Poppins;
    font-size: 28px;
    width: 47vw;
  }

  .sub-title {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#contact a {
    color: #9C1B7E;
}

#contact {
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    background-color: #fff;
    color: #9C1B7E;
    padding-bottom: 1rem;
}
  
#log{
  margin: 38px 15px 38px 32px;
}

#herramientas{
    margin: 10px 10px;
}

  .skills {
    text-align: center;
    background-color: rgba(33, 205, 180, 0.98);
    padding: 3rem;
}

.skills i {
    font-size: 3rem;
    line-height: 2;
    margin: 2.5rem;
}

p {
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #9C1B7E;
}


/* formato responsive para celular  */
@media screen and (min-width: 320px) and (max-width: 700px){

  .collapse:not(.show) {
    display: block;
}

#logo {
  margin: 89px -40px;
  width: 297vw;
}

.conoceme{
  margin: 10px -267px;
}

#log{
  margin: 8px 15px 32px 559px;
}

#portafolio{
  margin: 10px;
}

.Project1{
  margin: 0px 10px 0px -223px;
}
.Projects{
  margin: 0px 10px 0px -223px;
}

#textP1{
  margin: -334px 339px 10px 522px;
}

.projectText {
  font-size: 35px;
  width: 86vh;
}

.Projects {
  margin: 160px 10px 0px -223px;
}
.projectTitle {
  font-size: 37px;
}
#imgONU {
  margin: 152px 827px;
}

#textP2 {
  margin: -450px 26px 70px 291px;
}

#imgSocialVeg {
  margin: 216px 123px 96px 267px;
}

hr{
  display: none;
}

#textP3 {
  margin: -390px 339px 10px 539px;
}
#textP4 {
  margin: -654px 23px 71px 285px;
}

#imgPokedatos {
  margin: 370px 827px;
}

#imgCipher {
  margin: 512px 123px 96px 267px;
}

#textP5 {
  margin: -332px 339px 10px 508px;
}

#imgTrivia {
  margin: 629px 845px;
}

#textP6 {
  margin: -953px 22px 70px 305px;
}

#imgAbout {
  margin: 825px 14px 13px 199px;
}

.textAbout {
  margin: 84px 24px 20px 0px;
  width: 236vw;
}

#cv{
  margin: 47px 25px 114px 256px;
}

#herramientas {
  margin: 13px 0px;
  width: 282vw;
}

#btnP1Demo{
  width: 45vw;
  height: 7vh;
}

#btnP1Code{
  width: 45vw;
  height: 7vh;
}

#btnP2Demo{
  width: 45vw;
  height: 7vh;
}

#btnP2Code{
  width: 45vw;
  height: 7vh;
  margin: 19px 10px 10px 74px;
}

#btnP3Demo{
  width: 45vw;
  height: 7vh;
}

#btnP3Code{
  width: 45vw;
  height: 7vh;
}

#btnP4Demo{
  width: 45vw;
  height: 7vh;
}

#btnP4Code{
  width: 45vw;
  height: 7vh;
}

#btnP5Demo{
  width: 45vw;
  height: 7vh;
}

#btnP5Code{
  width: 45vw;
  height: 7vh;
}

#btnP6Demo{
  width: 45vw;
  height: 7vh;
}

#btnP6Code{
  width: 45vw;
  height: 7vh;
}
}

/* formato responsive para table */  
@media screen and (min-width: 701px) and (max-width: 1024px) {
  .conoceme {
    margin: 1259px 32px 10px 411px;
    width: 509px;
    height: 135px;
  }

  #log {
    margin: 4px 15px 38px 32px;
  }

  .h5conoceme {
    font-size: 58px;
}

  #containerHome{
    width: 542vh;
    height: 379vh;
  }

  #logo {
    width: 288vw;
    margin: 699px -192px;
  }

  #imgBurger {
    width: 60vw;
    height: 42vh;
    margin: 170px 0px 0px 122px;
  }

  #textP1 {
    margin: -412px 339px 10px 687px;
    width: 79vw;
  }

  #imgONU{
    width: 60vw;
    height: 42vh;
    margin: 556px 0px 0px 1280px;
  }

  #imgSocialVeg{
    width: 60vw;
    height: 42vh;
    margin: 994px 0px 0px 122px
  }
  
  #imgPokedatos{
    width: 60vw; 
    height: 42vh;
    margin: 1483px 0px 0px 1280px;
  }

  #imgCipher{
    width: 60vw;
    height: 42vh;
    margin: 2020px 0px 0px 122px;
  }

  #imgTrivia{
    width: 60vw;
    height: 42vh;
    margin: 2546px 0px 0px 1280px;
  }

  .projectTitle {
    font-size: 59px;
  }

  #textP2 {
    margin: -478px 26px 70px 128px;
}

  #btnP1Demo{
    width: 23vw;
    height: 6vh;
  }
  
  #btnP1Code{
    width: 23vw;
    height: 6vh;
  }
  
  #btnP2Demo{
    width: 23vw;
    height: 6vh;
  }
  
  #btnP2Code{
    width: 23vw;
    height: 6vh;
    margin: 19px 10px 10px 74px;
  }
  
  #btnP3Demo{
    width: 23vw;
    height: 6vh;
  }
  
  #btnP3Code{
    width: 23vw;
    height: 6vh;
  }
  
  #btnP4Demo{
    width: 23vw;
    height: 6vh;
  }
  
  #btnP4Code{
    width: 23vw;
    height: 6vh;
  }
  
  #btnP5Demo{
    width: 23vw;
    height: 6vh;
  }
  
  #btnP5Code{
    width: 23vw;
    height: 6vh;
  }
  
  #btnP6Demo{
    width: 23vw;
    height: 6vh;
  }
  
  #btnP6Code{
    width: 23vw;
    height: 6vh;
  }

  .projectText {
    font-size: 52px;
  }

  #textP3 {
    margin: -478px 339px 10px 687px;
    width: 79vw;
  }
   
  #textP5 {
    margin: -419px 339px 10px 687px;
    width: 96vw;
}


#textP6 {
  margin: -461px 22px 70px 305px;
}

#imgAbout {
  margin: 3233px 14px 13px 538px;
  width: 113vw;
}

.textAbout {
  margin: 4191px 24px 20px -96px;
  font-size: 55px;
  width: 216vw;
}

#cv {
  width: 625px;
  height: 151px;
  margin: 34px 25px 114px 461px;
}

.h6Cv {
font-size: 48px;
}

#herramientas {
  margin: 510px 10px;
  width: 267vw;
}

.sub-title {
  font-size: 6.5rem;
  margin: 130px;
}

.skills {
  height: 61vh;
}

.skills i {
  font-size: 7rem;
  line-height: 2;
  margin: 7.5rem;
}

p{
  font-size: 5rem;
}

.fab fa-github {
  width: 10vw;
}

}


@media screen and (min-width: 1025px) and (max-width: 2025px) {

  #logo {
    margin: 88px 254px;
    width: 50vw;
}

#log {
  margin: 38px 15px 38px 241px;
}

.conoceme{
  margin: 33px 738px;
}

#imgAbout {
  margin: 261px 14px 13px -16px;
}

.textAbout {
  margin: 207px 24px 20px 86px;
  font-size: 25px;
  
}

#cv{
  height: 47px;
  margin: 20px 25px 114px 562px;
}

.sub-title {
  margin: 0px 0px 0px -418px;
}

.skills {
  height: 61vh;
}

.nav-item{
  margin: 0px 0px 0px 0px;
}

}