body{
    /* font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    font-size: 12px; */

}

nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-right: 2rem;
}

hr{
width: 60vw;
height: 0px;
left: 168px;
border: 1px solid rgba(0, 0, 0, 0.25);
margin: 10px 10px 10px 292px;
}

/*fondo del navbar*/
.navbar-expand-lg {
  background-color:#fff;
  box-shadow: 0 10px 14px -7px #5b5b5f;
  height: 57px;
}

.navbar-light .navbar-nav .nav-link {
    color:#9C1B7E ;
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
    margin: 1.5rem;
}

nav li>a {
    position: relative;
    color:#9C1B7E;
    text-decoration: none;
}

nav li>a:hover {
    color:#9C1B7E;
}

nav li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:rgba(33, 205, 180, 0.98);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav li>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

nav i {
    color:#9C1B7E;
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
}


#logo{
    width: 65vw;
    margin: 106px 0px 0px 138px;
}

 .conoceme{
  width: 246px;
  height: 56px;
  background: rgba(33, 205, 180, 0.98);
  box-shadow: 0 10px 14px -7px #5b5b5f;
  text-shadow: 0 1px rgba(33, 205, 180, 0.98);
  border-radius: 49px;
  border-style: unset;
  cursor: pointer;
  margin: -13px 0px 0px 774px;
} 

.h5conoceme{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #FFFFFF;
    margin: 2px;
}


.projectTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    margin: -8px 0px 24px;
  }

  .projectText{
    font-family: Poppins;
    font-size: 20px;
    width: 1000px;
  }

  /*imagenes proyectos*/
  #imgBurger{
    width: 200px;
    height: 200px;
    margin:164px 123px 96px 182px;
  }

  #imgONU{
    width: 200px;
    height: 200px;
    margin: 45px 999px;
  }

  #imgSocialVeg{
    width: 200px;
    height: 200px;
    margin: 14px 123px 96px 182px
  }
  
  #imgPokedatos{
    width: 200px;
    height: 200px;
    margin: 33px 999px;
  }

  #imgCipher{
    width: 200px;
    height: 200px;
    margin: 16px 123px 96px 182px
  }

  #imgTrivia{
    width: 200px;
    height: 200px;
    margin: 33px 999px;
  }

  #textP1{
    margin: -287px 339px 10px  593px;
  }

  #textP3{
    margin: -283px 339px 10px  593px;
  }

  #textP5{
    margin: -274px 339px 10px  593px;
  }

  #textP2{
    margin: -237px 13px 70px 255px;

  }

  #textP4{
    margin: -236px 23px 71px 255px;
  }

  #textP6{
    margin: -225px 22px 70px 255px
  }
  
  hr{
    width: 60vw;
  }


  /*botones code y demo*/

  #btnP1Demo{
    color:black;
    background: rgba(250, 221, 52, 0.69);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 137px;
    height: 37px;
  }

  #btnP1Code{
    color:black;
    background: rgba(250, 221, 52, 0.69);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 137px;
    height: 37px;
  }

  #btnP2Demo{
    color:black;
    background:rgba(33, 205, 180, 0.98);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 31px 8px 213px;
    width: 137px;
    height: 37px;
  }

  #btnP2Code{
    color:black;
    background: rgba(33, 205, 180, 0.98);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 137px;
    height: 37px;
  }

  #btnP3Demo{
    color:black;
    background: #EF186E;
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 137px;
    height: 37px;
  }

  #btnP3Code{
    color:black;
    background: #EF186E;
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 137px;
    height: 37px;
  }

  #btnP4Demo{
    color:black;
    background: #9C1B7E;
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 137px;
    height: 37px;
  }

  #btnP4Code{
    color:black;
    background: #9C1B7E;
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 137px;
    height: 37px;
  }

  #btnP5Demo{
    color:black;
    background: rgba(250, 221, 52, 0.69);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 137px;
    height: 37px;
  }

  #btnP5Code{
    color:black;
    background: rgba(250, 221, 52, 0.69);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 137px;
    height: 37px;
  }


  #btnP6Demo{
    color:black;
    background: rgba(33, 205, 180, 0.98);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 137px;
    height: 37px;
  }

  #btnP6Code{
    color:black;
    background: rgba(33, 205, 180, 0.98);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 15px;
    border-style: unset;
    margin: 11px 34px 10px;
    width: 137px;
    height: 37px;
  }

  .buttonFont{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 27px;
    color:black;
  }

  /*About me*/

  #imgAbout{
    margin: 164px 14px 13px -10px;
  }

  .textAbout{
    margin: 112px 0px 0px 111px;
    font-family: Poppins;
    font-size: 24px;
    width: 52vw;
  }

  #cv{
    width: 280px;
    height: 49px;
    margin: 14px 25px 114px 490px;
    background: rgba(33, 205, 180, 0.98);
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 49px;
    border-style: unset;
  }

  .h6Cv{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    margin: 2px;
  }

  #contact a {
    color: #9C1B7E;
    width: 30px;
}

#contact {
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    background-color: #fff;
    color: #9C1B7E;
    padding-bottom: 1rem;
}
  
/* #herramientas{
    margin: 10px 10px;
} */

.skills {
    text-align: center;
    background-color: rgba(33, 205, 180, 0.98);
    padding: 3rem;
    margin: 0px 0px 127px 0px;
}

.skills i {
    font-size: 3rem;
    line-height: 2;
    margin: 2.5rem;
}

#herramientas{
    margin: 10px 10px;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    color: #9C1B7E;
    padding-bottom: 1rem;
}

.sub-title {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#contact{
    margin: -87px 0px 0px 0px;
}